.news-list {
    margin-top: 100px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px);
    overflow: auto;
    background-color: rgb(204, 177, 177);
}

.news-card {
    width: 399px;
    height: 100px;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(46, 28, 28);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: opacity 0.2s;
}

.news-card:hover {
    opacity: 0.8;
}

.news-card>.cover-img-div {
    flex: 1;
    margin-right: 10px;
}

.news-card>.cover-img-div>.cover-img {
    width: 133px;
    height: 100px;
    border-radius: 5px;
}

.news-card>.title-and-time {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-card>.title-and-time>.title {
    font-size: 16px;
    white-space: normal;
    word-break: break-word;
    margin: 0;
    padding: 4px;
}

.news-card>.title-and-time>.title:hover {
    text-decoration: underline;
    color: blue;
}

.news-card>.title-and-time>.time {
    font-size: 14px;
    white-space: normal;
    word-break: break-word;
    justify-self: flex-end;
    margin: 0;
    padding: 4px;
}

.morenews {
    width: 70px;
    height: 30px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: opacity 0.3;
    padding-left: 4px;
    padding-top: 2px;
}

.morenews:hover {
    opacity: 0.8;
}

.morenews:active {
    opacity: 0.6;
}